body {
    background: #ece5dd;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.chat-container {
    width: 380px;
    height: 650px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.chat-header {
    background: #1cceb9;
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.chat-box {
    background-size: cover;
    padding: 15px;
    overflow-y: auto;
    flex: 1;
}

.msg {
    max-width: 75%;
    padding: 4px;
    margin: 7px 0;
    border-radius: 10px;
    font-size: 15px;
    color: white;
}

.left {
    background: #282626;
    align-self: flex-start;
    float: left;
}

.right {
    background: #06c575;
    align-self: flex-end;
    float: right;
}

.chat-input {
    display: flex;
    padding: 10px;
    background: #f0f0f0;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 15px;
}

.chat-input button {
    padding: 10px 15px;
    margin-left: 8px;
    border: none;
    background: #075e54;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}